<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="ACCESS"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>logs/access.log</file>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

            <fileNamePattern>

                logs/access-%d{yyyy-MM-dd}.log

            </fileNamePattern>

            <maxHistory>30</maxHistory>

        </rollingPolicy>

        <encoder>

            <pattern>

                %h
                %l
                %u
                %t
                "%r"
                %s
                %b
                %D ms

                corrId=%reqHeader{X-Correlation-Id}

                %n

            </pattern>

        </encoder>

    </appender>

    <appender-ref ref="ACCESS"/>

</configuration>